/* Universal Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
line-height: 1.4;
}





.container {
  width: 100%;
  margin: auto;
}

/* Header Section */

 header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
 }


.logo {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 24px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;

  }

  .colmar {
    font-weight: bold;
  }

  .academy {
    color: hsl(20, 50%, 15%);
    opacity: 0.5;
  }


  header nav {
   padding-right: 24px;
  }

  .desktop a {
    padding-left: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(57, 56, 56);

  }

  .desktop a:hover {
    color: #FA3535;
  }

  .desktop a:active {
    color: #1561F6;
  }


  nav.mobile {
    display: none;
  }

  @media only screen and (max-width: 480px) {
  nav.desktop {
    display: none;
  }

  .logo {
    display: none;
  }


   nav.mobile {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0px 24px;
  }
}

/* Main Banner section */

.main-banner {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  color: #4f4f4f;
}


.left {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.left img {
  width: 100%;
  }

.right {
    width: 30%;
    padding-left: 24px;

}

 .right h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.right p {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    width: 100%
}

button {
    width: 90%;
    border: none;
    line-height: 2;
    padding: 8px 0px;
    background-color: #4f4f4f;
    color: white;
}

@media only screen and (max-width: 480px) {
  .main-banner {
    display: flex;
    flex-direction: column;
}

.left {
    width: 100%;
    padding: 0px;
  }

.right {
  width: 100%;
}

.right h1 {
   font-size: 1.8rem;
   padding: 32px 16px;
   line height: 1.4;
}

.right p {
    font-size: 1.2rem;
    padding: 0px 16px 24px 16px;
}

button {
  background-color: #a4a4a6;
  margin-bottom: 32px;
}

}
