/* Universal Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
line-height: 1.4;
}


.container {
  width: 100%;
  margin: auto;
  display: flex;
}

/* Header Section */

 header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
 }


.logo {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 24px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;

  }

  .colmar {
    font-weight: bold;
  }

  .academy {
    color: hsl(20, 50%, 15%);
    opacity: 0.5;
  }


  header nav {
   padding-right: 24px;
  }

  .desktop a {
    padding-left: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(57, 56, 56);

  }

  .desktop a:hover {
    color: #FA3535;
  }

  .desktop a:active {
    color: #1561F6;
  }


  nav.mobile {
    display: none;
  }

  @media only screen and (max-width: 480px) {
  nav.desktop {
    display: none;
  }

  .logo {
    display: none;
  }


   nav.mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
  }
}

/* Main Banner section */

.main-banner {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  color: #4f4f4f;
}


.left {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.left img {
  width: 100%;
  }

.right {
    width: 30%;
    padding-left: 24px;

}

 .right h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.right p {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    width: 100%
}

.main-banner button {
    width: 90%;
    border: none;
    line-height: 2;
    padding: 8px 0px;
    background-color: #4f4f4f;
    color: white;
}

@media only screen and (max-width: 480px) {
  .main-banner {
    display: flex;
    flex-direction: column;
}

.left {
    width: 100%;
    padding: 0px;
  }

.right {
  width: 100%;
}

.right h1 {
   font-size: 1.8rem;
   padding: 32px 16px;
   line height: 1.4;
}

.right p {
    font-size: 1.2rem;
    padding: 0px 16px 24px 16px;
}

button {
  background-color: #a4a4a6;
  margin-bottom: 32px;
}

}

/* Information Section */

.information {
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
}

.information .right {
  padding: 16px 0px;
  width: 40%;
}

.left-text {
  padding: 32px 0px;
  width: 100%s;
}

.left h3 {
  font-size: 2.7rem;
  font-weight: 900;
  padding-bottom: 24px;
}

.left p {
  font-size: 1.3rem;
}



.orientation,
.campus,
.guest {
  display: flex;
  align-items: center;
}

.information .right img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.text {
  width: 65%;
}

.text h4 {
  font-size: 2rem;
  font-weight: 600;
}

.text p {
  padding: 8px 0px;
  font-size: 1.4rem;
}

.text a {
  font-size: 1.2rem;
}


.guest {
  background-color: lightgrey;
}

.right a {
  color: blue;
}

.right a:hover {
  color: red;
}

.information-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

  .information {
    display: none;
  }

  .information-mobile {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: #4f4f4f;
  }

  .orientation-mobile,
  .campus-mobile,
  .guest-mobile {
    display: flex;
    flex-direction: column;
 }

  .orientation-mobile {
    margin: 16px 16px 32px 16px;
  }

  .campus-mobile,
  .guest-mobile {
    margin: 0px 16px;
  }

  .guest-mobile {
    background-color: white;
  }


  .information-mobile img {
    width: 100%;
    height: auto;
  }

  .text-mobile {
    line height: 1.4;
    padding: 32px 16px;
  }

  .text-mobile h4 {
     font-size: 1.8rem;
     font-weight: 700;
  }

  .text-mobile p {
     font-size: 1.3rem;
     line-height: 1.8;
  }

  .text-mobile a {
    font-size: 1.2rem;
  }

  .text-mobile a {
    color: blue;
  }

  .text-mobile a:hover {
    color: red;
  }

}

/* Courses Section */

.learning {
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
  background-color: lightgrey;
}

.learning h3 {
  padding: 32px 0px;;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 900;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 72px;
  width: 113%;
}

.course img {
  width: 100%;
  height: auto;
}

.course {
  width: 25%;
  padding: 16px;
}

.course-text {
  background-color: white;
  line-height: 1.8;
  padding: 16px 16px 24px 16px;
}

.course h4 {
  font-size: 1.8rem;
  font-weight: 600;
}


.course-p {
  padding: 8px 0px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.courses-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .learning {
    background-color: white;
  }

.courses {
  display: none;
}

.courses-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.courses-mobile button {
  border: none;
  line-height: 2;
  padding: 16px 16px 24px 16px;
  background-color: lightgrey;
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-left: 24px;
  align-self: center;
  width: 90%;
}


.courses-mobile button:hover {
  color: red;
}

}

/* Thesis Section */

.thesis-container {
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;


}
.thesis {
  display: flex;
  padding: 32px 24px;
}

.thesis-left {
  width: 60%;
  height: auto;
  padding-right: 24px;
}

.thesis-right {
  width: 40%;
  height: auto;
}

.thesis video {
  width: 100%;
}

.thesis-container h3 {
  padding: 32px 0px;;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 900;
}

.thesis-content {
  display: flex;
}

.thesis-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  width: 65%;

}

.top {
  background-color: lightgrey;
}

.thesis h4 {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 8px;
}

.thesis img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

.thesis-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .thesis-container {
    display: none;
  }

.thesis-mobile {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    color: #4f4f4f;
}

.thesis-mobile h3 {
    padding: 32px 0px 16px 0px;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 900;
}

.thesis-mobile video {
  padding: 16px 0px 24px 0px;
  width: 100%;

}

}

/* Footer section */

footer {
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

@media only screen and (max-width: 480px) {
  .footer-right {
    display: none;
  }

  .footer-left {
    margin-top: 24px;
  }
}
